* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #D5D9E5;
  text-align: left;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
header {
  padding: 15px;
  background-color: #3f51b5;
  color: #fff;
  margin-bottom: 0px;
}
header h1 {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.3em;
}
header select {
  width: 200px;
  font-size: 1rem;
}

#main-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#repo-container,
#contributors-container {
  flex: 1 1 200px;
  padding: 30px;
  margin-bottom: 50px;
  min-width: 400px;
  min-height: 300px;
  flex-basis: 40%;
  position: relative;
  box-sizing: content-box;
  background-color:#F1F4FB;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.12);
}

ul:first-child {
  padding: 30px;
  background-color:#FFF;
}

td:nth-child(1){
	width: 20%;	
}

table tr {
  border-spacing: 0;
  text-align: center;
}
#contributors-container table td {
border-bottom:2px solid #D7DDF2 ;
}

table tr td {
  background-color:#FFF;
  padding: 20px;
  width: 100%;
}

li {
  list-style-type: none;
  margin-top: 10px;
  text-decoration: none;
	
}
.alert-error {
  color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

a {
  padding: 0;
  color: rgb(25, 92, 150);
}

a:hover {
  font-size: 1.1em;
}

img {
  width: 70px;
  height:70px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
}

